$maxMobile:"max-width:767px";
$maxSmall:"max-width:991px";
$minSmall:"min-width:768px";
$minMid:"min-width:992px";
$minLarge:"min-width:1200px";
$minToMobile:"max-width:600px";

$mainColor:#e2494c;
$pColor:#9c9c9c;

$float-left:left;
$float-right:right;

$text-right:right;
$text-left:left;