*{
    @include prefixer(box-sizing,border-box,webkit o moz);
}

.container {
    
    padding-left:15px;
    padding-right:15px;
    margin:auto;
    position:relative;
    @media(#{$minSmall}){
        width:750px;
    }
     @media(#{$minMid}){
        width:970px;
    }
     @media(#{$minLarge}){
        width:1170px;
    }
}
