.main-button{
    background-color:rgba($mainColor,0.8);
    width:100px;
    padding:10px;
    font-weight:bold;
    color:white;
    text-transform:uppercase;
    border:2px solid $mainColor;
    border-radius:5px;
    cursor:pointer;
    @include prefixer(transition,all .5s ease-in-out,webkit moz o ms);
    &:hover{
        background-color:$mainColor;
    }
}



    .toggler-button {   
    background-color:$mainColor;
    padding:5px;
    border:none;
    position:absolute;
    top:15px;
    right:15px;
    cursor:pointer;
    display:none;
    @media(#{$maxMobile}){
        display:block;
    }
    span{
        display:block;
        width:50px;
        background-color:white;
        height:4px;
        &:not(:last-child){
            margin-bottom:5px;
            }
        
        }
  
}


