body {
    background-color:#FFF;
    font:{
        family:Tahoma;
        size:16px;
    }
}

ol,ul {
    list-style:none;
    padding-left:0px;
    padding-right:0px;
    
}
.clearfix {
    clear:both;
}